################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Skapiec/appsettings.json
/.vs/Skapiec/FileContentIndex/070f1c20-774b-42c6-98df-61cf4159a20d.vsidx
/.vs/Skapiec/FileContentIndex/1465a7df-8083-4f75-b905-1f22200ae839.vsidx
/.vs/Skapiec/FileContentIndex/17f598a2-65e9-4b5f-8f89-4981a6d82acd.vsidx
/.vs/Skapiec/FileContentIndex/6e9955b7-2d12-42aa-b139-941b1ffae71d.vsidx
/.vs/Skapiec/FileContentIndex/c17de93b-f98b-4635-85ca-cd8d68e5806b.vsidx
/.vs/Skapiec/FileContentIndex/ffc9c9db-0259-4003-8048-17bab01c7288.vsidx
/.vs/Skapiec/FileContentIndex/aca5f02e-88e7-460e-9248-9732f9f36770.vsidx
/.vs/Skapiec/FileContentIndex/bae4f0dc-b0f1-4248-833a-d3a2a08bcd41.vsidx
/.vs/Skapiec/FileContentIndex/faf1fef7-9a4d-405e-aa02-f65dbc54518a.vsidx
/.vs/Skapiec/FileContentIndex/fce69121-a303-4260-b222-e51cc832b9bf.vsidx
/.vs/Sknerus/v17/DocumentLayout.json
/.vs/Sknerus/v17/.wsuo
/Skapiec/obj/Debug/net8.0/Skapiec.AssemblyInfo.cs
/Skapiec/obj/Debug/net8.0/Skapiec.AssemblyInfoInputs.cache
/Skapiec/obj/Debug/net8.0/Skapiec.assets.cache
/Skapiec/obj/Debug/net8.0/Skapiec.csproj.AssemblyReference.cache
/Skapiec/obj/Debug/net8.0/Skapiec.GeneratedMSBuildEditorConfig.editorconfig
/Skapiec/obj/project.nuget.cache
/Skapiec/obj/project.assets.json
/Skapiec/obj/Skapiec.csproj.nuget.dgspec.json
/Skapiec/obj/Skapiec.csproj.nuget.g.props
/Skapiec/appsettings.json
