html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 350px;
    min-height: 100%;
}

.navbar-brand {
    font-family: 'Lemon';
    font-size: 34px;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

    .navbar-brand::first-letter {
        font-size: 150%;
        color: #EED920;
    }

footer {
    background-color: #7A6AA8;
    text-align: center;
    color: #FFFFFF;
}

header {
    background-color: #7A6AA8;
    height: 20%;
}



.navbar-nav.custom-buttons > .nav-item {
    margin-right: 15px;
}

    .navbar-nav.custom-buttons > .nav-item:last-child {
        margin-right: 0; 
    }

.custom-button {
    background-color: #EED920;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

    .custom-button:hover {
        background-color: #FFD700;
    }