@model List<Skapiec.Entities.Product>

<h1>Historia produktów</h1>

<label for="query">Wybierz zapytanie:</label>
<select id="query">
    <option value="">Wybierz zapytanie</option>
    @foreach (var product in Model.Select(p => p.query).Distinct())
    {
        <option value="@product">@product</option>
    }
</select>

<label for="sortBy">Sortuj wg:</label>
<select id="sortBy">
    <option value="">Wybierz sposób sortowania</option>
    <option value="Name_ASC">Nazwa rosnąco</option>
    <option value="Name_DESC">Nazwa malejąco</option>
    <option value="Value_ASC">Cena rosnąco</option>
    <option value="Value_DESC">Cena malejąco</option>
    <option value="CreationTime_ASC">Data dodania rosnąco</option>
    <option value="CreationTime_DESC">Data dodania malejąco</option>
</select>

<div id="productTablePartial">
    @Html.Partial("_ProductTablePartial", Model)
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#query, #sortBy').change(function () {
                var query = $('#query').val();
                var sortBy = $('#sortBy').val();

                $.ajax({
                    url: '/Home/Index',
                    type: 'GET',
                    data: {
                        query: query,
                        sortBy: sortBy
                    },
                    success: function (data) {
                        $('#productTablePartial').html(data);
                    },
                    error: function () {
                        console.log('Błąd pobierania danych.');
                    }
                });
            });
        });
    </script>
}
